body {
  .aboutSection {
    margin: 5rem 5rem 0 5rem;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0px 0px 10px $shadowColor;
    background-color: white;

    .contact {
      display: flex;
      justify-content: space-evenly;
      margin-top: 3rem;
      .columnOne{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }
      .adress {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

    }

    @media (max-width: 768px) {
      margin: 5rem 5px;
      text-align: center;
      .contact {
        flex-direction: column;

        .adress {
          margin-bottom: 3rem;
        }
      }
    }
    
    
  }
}
