.alerts {
  position: absolute;
  width: calc(100% - 4rem);
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px $darkBlue;
}

.alert {
  // top: 10rem;
  text-align: center;
  border-radius: 2rem;
  margin: 0.2rem;
  background-color: rgb(194, 194, 194);
}
.negative {
  color: $darkBlue;
  background-color: rgb(233, 73, 73);
}
