.gHero-image {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/Dental_office.svg");
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(5px);

  background-position: center;
}
// dzieki temu wysrodkuje element
.gPopupParent {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  // dzieki temu opisze element ze bedize bialy rogi zaokraglone itp
  .gPopup {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 26rem;
    padding: 2rem;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px $shadowColor;
    margin-top: 2rem;
    @media (max-width: 480px) {
      margin: 5px;
      margin-top: 5rem;
    }
    form {
      display: flex;
      flex-direction: column;
    }
  }
  .gPopupWideOld {
    @extend .gPopup;
    width: 70vw;
    @media (max-width: 480px) {
      margin: 0;
      padding: 0.5rem;
      width: 90vw;
    }
  }
  .gPopupWide {
    @extend .gPopup;
    width: 70vw;
    margin-top: 3rem;
    max-height: 80vh;

    @media (max-width: 480px) {
      margin: 0;
      padding: 0.5rem;
      width: 90vw;
    }
    .end {
      background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 0%,
        rgb(255, 255, 255) 60%
      );
      left: 0;
      bottom: 2rem;
      width: 100%;
      height: 8rem;
      position: absolute;
    }
  }
}

h1 {
  color: $darkBlue;
  margin-bottom: 1rem;
  text-align: center;
  // text-decoration: none;
}

.pointer {
  cursor: pointer;
}
//small buttons

.btnSmall {
  padding: 0.5rem 2rem;
  margin-top: 1rem;
  border: 2px solid $darkBlue;
  border-radius: 2rem;
  color: white;
  background-color: $greyBlue;
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  transition: 0.5s;
  cursor: pointer;
  @media (max-width: 768px) {
    display: block;
  }
}

.btnNegative {
  background-color: $darkBlue;
  color: white;
  // -webkit-text-stroke: 1px #f52409;
  // text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.btnNonActive {
  background-color: #dee7eece;
  // border: 2px solid #91a3b1;
  border: none;
  color: #91a3b141;
  cursor: default;
}

input {
  border: none;
  border-bottom: 1px solid $greyBlue;
  font-size: 1rem;
  color: rgb(40, 40, 40);
  background-color: inherit;
  &:focus {
    outline: none;
    border-bottom: 1px solid $darkBlue;
  }
}

.MarginTop {
  margin-top: 1.5rem;
}
.MarginBottom {
  margin-bottom: 1.5rem;
}

.myList {
  max-height: 50vh;
  overflow: scroll;
  li {
    list-style-type: none;
    background-color: $myWhite;
    border-radius: 5px;
    margin: 1rem;
    padding: 1rem;
    color: $myBlack;
    cursor: pointer;
    &:hover {
      box-shadow: 0 0 4px $shadowColor;
    }
  }
}
.myListTop {
  @extend .myList;
  overflow: visible;
}


.nonActive{
  // background-color: rgb(187, 187, 187);
  color: rgb(158, 158, 158);
  cursor: default;
}