.plainAnimate {
  .leftPosition {
    transition: 1s;
    position: absolute;
    left: -416px;
  }

  .centerPosition {
    transition: 1s;
    position: absolute;
    left: calc(50vw - 208px);
  }

  .rightPosition {
    // background-color: $kolorBierki;
    transition: 1s;
    position: absolute;
    left: 100vw;
  }
}
