$navColor: rgba(233, 232, 242, 0.796);
$shadowColor: rgba(127, 153, 188, 0.412);
$darkBlue: #154a76;
$midBlue: #0288a3;
$lightBlue: #91d3ce;
$myWhite: #eae9f3;
$greyBlue: #98adca;
$greyBlue85p: rgba(151, 172, 201, 0.85);
$myBlack: #282828;

$kolorBierki: rgb(26, 110, 131);

//negative button moze wygladac tak
// darkblue napis a tlo to to:
$negativeBgc: rgb(247, 168, 168);
