@import "reset";
@import "var";

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background-color: #cee2db;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
i {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
a {
  color: inherit;
  text-decoration: none;
}
i {
  color: $darkBlue;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  padding: 1rem;
}

//global
@import "nav";
@import "global";

//local
@import "landing";
@import "about";
@import "doctors";
@import "plain";
@import "plain5";
@import "plainAnimate";
@import "logged";
@import "doctorsList";
@import "prices";
@import "todayMeetings";
@import "loggedMyData";
@import "alert";
@import "news";
@import "spinner";
@import "dashboard";
